<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="http://surbrook.devermore.com/adaptationswesternanimation/incredibles/Frozone.jpg">
    <link href="/stylesheet.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <nav>
        <ul>
              <li> <a href = '/'>Homepage</a></li>
              <li> <a href = '/interrogate'>Interrogate</a></li>
        </ul>
    </nav>
    <header>
      <h1>Welcome</h1>
      <h2>To me attempting to access the github API</h2>
    </header>
    <main>
      <p>
        Enjoy ;)
      </p>
    </main>
  </body>
</html>
