<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheet.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Interrogate</title>
  </head>
  <body>
    <nav>
        <ul>
            <li>
              <li> <a href = '/'>Homepage</a></li>
              <li> <a href = '/interrogate'>Interrogate</a></li>
            </li>
        </ul>
    </nav>
    <header>
      <h1>Choose a profile...</h1>
      <form id="submission" method="POST" action="/interrogate">
        <label for="account"> What profile do you want to view?</label>
        <input type ="text" name="account"/>
        <input type ="submit" value ="submit"/>
      </form>
    </header>
    <main>

    </main>
  </body>
</html>
