body{
  background: #ffdab9;
  font-family: verdana;
  margin: 0;
}
nav{
  background: #b9deff;
  padding: 20px 10px
}
nav ul{
  margin: 0 auto;
  padding: 0;
}
nav li{
  list-style-type: none;
  display: inline-block;
  margin: 0 10px 0 0;
}
nav a{
  color: #000;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  padding: 10px;
  display: block;
}
main, header{

  margin: 15px auto;
  padding-left: 30px;
  color: #000;
}
.node {
  cursor: pointer;
}

.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.graphHead{
  text-align: left;
  padding-left: 30px;
  font-size: 30px;
  font-family: verdana;
}
